
.represec{
    padding: 100px 0px;
}
.retext{
    font-family: calluna,serif;
font-weight: 600;
font-style: normal;
color: #081b33;
max-width: 589px;
font-size: 50px;
padding-bottom: 10px;
}
.reprelist{
    max-width: 656px;
    margin-top: -15px;
}
.reprelist ul li{
    color: #081B33 !important;
    
    line-height: 1.5em;
    padding-bottom: 15px;
    list-style: none;
    font-size: 19px;
}
.reprelist ul li::before{
    content: "\2022";
    color: #E54A35;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 22px;
}
.repreimg{
    max-width: 550px;
margin: auto;
}
.court{
    max-width: 288px;
margin: auto;
  margin-top: auto;
margin-top: 70px;
}
.court h1{
    font-family: calluna,serif;
    font-weight: 500;
    font-style: normal;
    color: #081b33;
    font-size: 31px;
}
.court p{
    font-weight: 500;
    color: #081b33;
    font-size: 19px;
    margin-top: 30px;
    line-height: 1.4em;
}
.courtlist{
    max-width: 325px;
margin: auto;
  margin-top: auto;
margin-top: 70px;
}
.courtlist ul li{
    color: #081B33 !important;
    
    line-height: 1.2em;
    padding-bottom: 15px;
    list-style: none;
    font-size: 15px;
}
.courtlist ul li::before{
    content: "\2022";
    color: #E54A35;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
}
.app{
    color: #E54A35;
}

@media (max-width: 768px) {
    .retext{
        font-size: 32px;
        padding: 0px 15px;
    }
    .court h1{
        font-size: 32px;
        text-align: center;
    }
    .court{
        margin-top: 40px;
    }
    .court p{
        font-size: 17px;
        text-align: center;
    }
    .courtlist{
        margin-top: 0px;
    }
    .reprelist ul li{
        font-size: 16px;
    }
    .reprelist ul li::before{
        font-size: 20px;
    }
    .repreimg{
        max-width: 250px;
        margin-top: 40px;
    }
    .represec{
        padding: 70px 0px;
    }
  }
  


