/* Commercial sec */

.litigation h4{
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    color: #E54A35 !important;
    margin-bottom: -11px;
  }
  .litigation h1{
    font-family: calluna,serif;
    font-weight: 600;
    font-style: normal;
    color: #081b33;
    font-size: 50px;
  }
  .litigation p{
    color: #081b33;
    font-size: 20px;
    max-width: 717px;
    line-height: 1.4em;
  }
  .btn1{
    color: #E54A35 !important;
    border:1px solid #E54A35 ;
    font-size: 17px;
    border-radius: 6px;
    background-color: #FFFFFF;
    height: 60px;
    
  padding: 0px 26px;
  display: flex;
    align-items: center;
  }
  .btn2{
    color: #081B33 !important;
  border:1px solid #081B33 ;
  font-size: 17px;
  border-radius: 6px;
  background-color: #FFFFFF;
  margin-left: 15px;
  height: 60px;
  width: 100%;
max-width: 250px;
  padding: 0px 26px;
  display: flex;
    align-items: center;
  }
  .commercialbtns{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 0px;
  }
  
  .additional h2{
    color: #081b33;
    font-family: calluna,serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vw;  
  }
  .areabox{
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    background-color: rgba(255,255,255,0.74);
  }
  .areaboxtext ul li{
    color: #081B33 !important;
    font-weight: 600;
    line-height: 1.4em;
    padding-bottom: 15px;
    list-style: none;
    font-size: 19px;
  }
  .areaboxtext ul li::before{
    content: "\2022";
    color: #E54A35;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
    font-size: 30px; 
  }
  .commercialsec{
    padding: 40px 0px;
    background-position: left 20% top 20%;
background-image: linear-gradient(64deg,#ffffff 46%,rgba(255,255,255,0.55) 72%),url('/images/localbg.jpg') !important;
  }
.btn1 h3{
    margin-left: 10px;
}
.btn2 h3{
    margin-left: 10px;
}
.btn1:hover{
  background-color: #081B33;
  border: none;
}
.btn2:hover{
  background-color: #081B33;
  color: white !important;
}

.loaclimg{
    max-width: 500px;
    margin: auto;
}

.btn2 svg{
  max-width: 30px;
}
.btn2:hover svg{
  fill: white;
}




@media (max-width: 768px) {
  .litigation h4{
    font-size: 18px;
  }
  .commercialbtns{
    gap: 15px;
  }
  .litigation h1{
    font-size: 35px;
  }
  .commercialbtns{
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn2{
    
    border-width: 2px;
    font-size: 13px;
    margin-left: 0px;
    width: 100%;
max-width: 210px;
justify-content: center;
  }
  .btn1{
    border-width: 2px;
    font-size: 13px;
    width: 100%;
max-width: 175px;
  }
  .litigation{
    text-align: center;
  }
  .litigation p{
    font-size: 17px;
  }
  .loaclimg{
    display: none;
  }
}



