

.drop{
    text-align: center;
    padding-top: 60px;

}
.drop p{
    line-height: 1.5;
}
.drop h1{
    font-family: sans-serif;

}
.drop p{
    font-family: sans-serif;
    padding-top: 20px;
}
.drop input{
   
    outline: none;
   background: none;
   border: none;
}
.inp{
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    border-radius: 6px;
    height: 45px;
    width: 100%;
}
.inputbox{
    display: flex;
    justify-content: center;
}

@media all and (max-width:768px){
    .drop{
        padding: 70px 30px;
    }
}