@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pm-btn {
    @apply bg-primary text-[#fff] font-lato py-2 px-3 font-bold hover:bg-black hover:text-primary transition-all;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.27);
  }
  .pm-btn:hover svg {
    fill: #e54a35;
  }
}

.container {
  max-width: 1800px;
  width: 90%;
  margin: auto;
}

p {
  font-family: 'Lato', sans-serif !important;
}
h1,
h2,
h3,
h4 {
  font-family: var(--calluna) !important;
}
ul li {
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.wrapper {
  max-width: 1800px;
  margin: auto;
  width: 90%;
}

.bt_divider {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI4MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTY0MCAxNDBMMTI4MCAwSDB6Ii8+PC9nPjwvc3ZnPg==);
  background-size: 100% 80px;
  bottom: 0;
  height: 80px;
  z-index: 1;
  transform: scale(1, -1);
  position: absolute;
  width: 100%;
}

@media all and (max-width: 980px) {
  .bt_divider {
    display: none;
  }
}
