@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pm-btn {
    @apply bg-primary text-[#fff] font-lato py-2 px-3 font-bold hover:bg-black hover:text-primary transition-all;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.27);
  }
  .pm-btn:hover svg {
    fill: #e54a35;
  }

  .primary-btn-outline {
    @apply py-3 px-4 pl-2 inline-flex text-base justify-center items-center gap-2  border-[3px]  font-semibold bg-transparent   focus:outline-none   transition-all uppercase w-full max-w-[245px];
  }
  .primary-btn {
    @apply py-3 px-4 pl-2 inline-flex text-base justify-center items-center gap-2  border-transparent font-semibold   focus:outline-none   transition-all uppercase w-full max-w-[245px];
  }
  .primary-btn-bg {
    @apply py-3 px-4 pl-2 inline-flex text-base justify-center items-center gap-2 bg-secondry !text-white hover:bg-primary hover:text-white  border-transparent font-semibold   focus:outline-none   transition-all uppercase w-full max-w-[245px] shadow-lg;
  }
  .four-box-hover {
    content: '';
    background: radial-gradient(
      circle at center,
      rgba(8, 27, 51, 0.84) 10%,
      rgba(229, 74, 53, 0.65) 100%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 1;
  }
}

html {
  font-size: 120%;
}

.container {
  max-width: 1800px;
  width: 90%;
  margin: auto;
}

p {
  font-family: 'Lato', sans-serif !important;
}
h1,
h2,
h3,
h4 {
  font-family: var(--calluna) !important;
  color: #081b33;
}
ul li {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
p {
  font-size: 1.2rem;
}
img {
  max-width: 100%;
}
.wrapper {
  max-width: 1800px;
  margin: auto;
  width: 90%;
}

.bt_divider {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI4MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTY0MCAxNDBMMTI4MCAwSDB6Ii8+PC9nPjwvc3ZnPg==);
  background-size: 100% 80px;
  bottom: 0;
  height: 80px;
  z-index: 1;
  transform: scale(1, -1);
  position: absolute;
  width: 100%;
}

.mb-divider-top {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTY0MCAxNDBMMTI4MCAwSDB6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTY0MCA5OGw2NDAtOThIMHoiLz48L2c+PC9zdmc+);
  background-size: 100% 50px;
  top: 50px;
  height: 50px;
  z-index: 1;
  transform: scale(1, 1);
  position: relative;
}

.mb-divider {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTY0MCAxNDBMMTI4MCAwSDB6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTY0MCA5OGw2NDAtOThIMHoiLz48L2c+PC9zdmc+);
  background-size: 100% 50px;
  bottom: 0;
  height: 50px;
  z-index: 1;
  transform: scale(1, -1);
  top: -50px;
  position: relative;
}

.listing li:before {
  content: '\2022';
  color: #e54a35;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media all and (max-width: 980px) {
  .bt_divider {
    display: none;
  }
}
