
.goodIcon{
    padding-top: 90px;

}

.meFlex{
    display: flex;
    align-items: center;
}
.meFlex img{
    width: 6%;
}
.meFlex h1{
    max-width: 690px;
    padding-left: 20px;
    font-weight: 500;
    font-family: 'Calluna', sans-serif;
}
.checkbox{
    grid-template-columns: repeat(3,2fr);
    display: grid;
    margin-top: 40px;
}
.checkIcon{
    display: flex;
    padding-top: 20px;
}
.checkIcon1{
    display: flex;
    /* margin-bottom: -100px; */
    margin-top: -110px;
}
.checkIcon1 p{
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    max-width: 325px;
    line-height: 1.7;
}
.checkIcon1 i{
        color: #E54A35;
        font-size: 25px;
}
.checkIcon p{
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    max-width: 325px;
    line-height: 1.6;
}
.checkIcon i{
        color: #E54A35;
        font-size: 25px;
}


@media all and (max-width: 768px){
    .goodIcon{
        padding-top: 30px;
    }
    .checkbox{
    grid-template-columns: repeat(1,1fr);
    display: grid;
        margin-top: 10px;

}
.checkIcon p{
    max-width: 300px;
}
.checkIcon{
    padding-top: 30px;
}
.checkIcon i{
    font-size: 30px;
}
.meFlex{
    display: block;
    text-align: center;
}
.meFlex h1{
    font-size: 23px;
    max-width: 400px;
        padding-left: 0px;
        padding-top: 10px;

}
.meFlex img{
    width: 30%;
}
.checkIcon{
    margin-top: 0px;
}
.checkIcon1{
    display: flex;
    /* margin-bottom: -100px; */
    margin-top: 30px;
}


}