

.backimg2{
    background-position: center bottom 20%;
    background-image: linear-gradient(64deg,#ffffff 31%,rgba(255,255,255,0.45) 80%),url(/images/inj.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}

.backGrid{
    grid-template-columns: 40% 30% 30%;
    display: grid;
    padding-top: 50px;
}

.clintText h4{
    font-style: italic;
    font-size: 16px;
    color: #E54A35!important;
}
.clintText h1{
    font-weight: 500;
    padding-top: 10px;
    font-size: 55px;
}
.clintText p{
    padding-top: 30px;
    line-height: 1.6;
    /* font-size: 18px; */
}
.clintText .p3{
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    /* font-size: 18px; */
    line-height: 1.6;

}
.clintText span:nth-child(2){
    color: #E54A35;
    text-decoration: underline;
}
.clintText span{
    color: #E54A35;
}
.btn3 i{
    color: #E54A35 !important;
    padding-left: 4px;
}
.btn3 .btn7{
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Calluna', sans-serif;
    width: 70%;
    height: 45px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: all ease-in .4s;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.27);
}
.btn3 .btn8{
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Calluna', sans-serif;
    width: 98%;
    height: 45px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    color: black;
        transition: all ease-in .4s;
        box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.27);

}
.btn3 .btn7:hover{
    background-color: #081B33;
    border: none;
    color: #E54A35;
}
.btn3 .btn8:hover{
    background-color: #081B33;
    border: none;
    color: #E54A35;
}
.btn1{
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn1 .BTN{
   color: #E54A35;
   border:  2px solid #E54A35;
   width: 32%;
   background-color: white;
   height: 45px;
   font-weight: bolder;
   cursor: pointer;
   transition: all ease-in .4s;
   box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.27);

}
.btn1 .BTN2{
    cursor: pointer;
   color: black;
   border:  2px solid black;
   width: 32%;
   background-color: white;
   height: 45px;
   font-weight: bolder;
   margin-left: 15px;
   transition: all ease-in .4s;
   box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.27);

}
.btn1 .BTN:hover{
background-color: #081B33;
border: none;
}
.btn1 .BTN2:hover{
background-color: #081B33;
color: white;
border: none;
}
.btn4{
    padding: 20px 70px;
}
.btn4 h3{
    font-size: 13px;
}
.btn4 i{
    color: #E54A35;
}
.btn4 .onlyB{
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background-color: white;
    border: 2px solid black;
     cursor: pointer;
    transition:  all ease-in .4s;
}
.btn4 .onlyB:hover{
    background-color: #081B33;
    color: #E54A35;
    border: none;
}
.btn5{
    margin-top: 33px;
}

.btn5 i{
    color: #E54A35;
}

.btn5 .onlyB1:hover{
    background-color: #081B33;
    color: #E54A35;
    border: none;
}
.btn5 .onlyB2{
    opacity: .4;
    margin-top: 20px;
    width: 70%;
    height: 45px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.27);
    cursor: pointer;
}
.btn4 .onlyB2{
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.27);
    cursor: pointer;
    opacity: .4;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background-color: white;
    border: 2px solid black;
}
.new{
    display: none;
}

@media all and (max-width: 768px) {
    .newclass1{
    display: flex;
    justify-content: center;
}
    .new {
        background-image: url(/images/inj.jpg);
    height: 300px;
    /* transform: translate(0px, 179.351px); */
    background-repeat: no-repeat;
    /* background-position: top; */
    background-size: cover;
     /* position: absolute;
    top: 245%;
    bottom: 0;
    left: 0; */
    width: 100%;
    display: block; 
    }
    
    /* .Nline{
        background-image: url(/images/main-line.svg);
    height: 70px;
    z-index: 1;
    margin-top: -15px;
    }
    .Nline1{
        background-image: url(/images/main-line.svg);
    height: 70px;
    margin-top: 166px;
    transform: rotate(180deg);
    margin-bottom: 10px;
    } */
    .backGrid{
    grid-template-columns: repeat(1,1fr);
    text-align: center;
}
.backimg2{
    background-position: center;
   
}
.btn3 .btn7{
    height: 65px;
    text-align: center;
    padding: 0px 15px;
}
.btn3 .btn8{
    width: 70%;
    text-align: center;
    height: 80px;
        padding: 8px 15px;
        line-height: 1.6;

}
.clintText .p3{
    max-width: 300px;
    margin: auto;
}
.btn1{
    /* text-align: left; */
}
.btn4 h3{
    font-size: 20px;
    padding-bottom:15px ;
}
.btn1 .BTN{
    width: 60%;
    margin-left: 10px;
}
.btn1 .BTN2{
    width: 73%;
    margin-top: 20px;
    /* margin-left: 0px; */
}
.btn4{
    padding: 20px 20px;
}
.btn5{
    margin-top: -15px;
    margin-bottom: 40px;
}
.btn5 .onlyB1{
    width: 90%;
}
.btn5 .onlyB2{
    width: 89%;
}
}